.logo {
    height: 4em;
}

#heading {
    height: 60vh;
    max-width: 100vw;
    background: url("https://www.trbimg.com/img-579a57f7/turbine/ct-us-homeownership-rate-20160728") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-size: cover;
    filter: brightness(.5);
}